@font-face {
    font-family: sus;
    src: url(HLT\ Gioviale.ttf);
}

@font-face {
    font-family: spotify;
    src: url(SpotifyMixUI\ Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(Background_main.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.image-mapper-shape {
    fill: rgba(0, 0, 0, 0);
}

g:hover .image-mapper-shape {
    stroke: white;
    stroke-width: 2px;
    opacity: 20%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#title {
    font-family: sus;
    font-size: 2.5rem;
    transition: opacity 1s;
}

#heart-container {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: opacity 1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vmin;
    height: 50vmin;
}

.fade {
    opacity: 0;
}

a {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

#heart {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}

#fill-container {
    width: 58%;
    height: 58%;
    overflow: hidden;
    z-index: -1;
}

#heart-fill {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

#letter-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vmin;
    height: 95vmin;
    animation: fade-in 1s forwards;
    opacity: 0;
}

#paper {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

#letter {
    position: relative;
    width: 52%;
    height: 72%;
    overflow-y: auto;
    transform: translateY(2%);
    font-family: sus;
    color: #d50088;
    font-size: 1.25rem;
}

.spotify {
    animation: 5s fade-in-and-out forwards;
    font-family: spotify;
    font-size: 1.5rem;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-in-and-out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    6.25% {
        transform: rotate(-10deg);
    }

    12.5% {
        transform: rotate(10deg);
    }

    25%,
    100% {
        transform: rotate(0deg);
    }
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #DA82CD;
    border: 1px solid #FFFFFF;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #D11BDA;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #D849DA;
}